 <footer class="text-center" style="background-color: inherit">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6>
              <a href="{{ path('app_home') }}">Acceuil</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6>
              <a href="#!">A propos</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6>
              <a href="#!">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->          
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Social -->
      <section class="text-center mb-5">
        
          <i class="fa-brands fa-facebook fa-xl me-4"></i>
          <i class="fa-brands fa-twitter fa-xl me-4"></i>
          <i class="fa-brands fa-instagram fa-xl me-4"></i>    
        
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://getbootstrap.com/"
         >Bootstrap.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>