{% extends 'base.html.twig' %}

{% block title %}Airline Flying!{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5" id="home_page">

    <div class="card-body p-5">
      <h1 class="fw-light">Bienvenue sur le site Airline Fliying</h1>
      <p class="lead">Afin d'accéder à la liste de nos vols, veuillez vous connecter</p>
      <a href="{{ path('show_flights')}}" class="btn btn-primary mt-5" style="background-color:">Accéder à nos vols ></a>
      <div style="height: 400px"></div>
      <div>
        {% include "home/footer.html.twig" %}
      </div>
    </div>
  </div>

</div>
{% endblock %}
