{% extends "base.html.twig" %}

{% block body %}

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5" id="home_page">

    <div class="card-body p-5">
      <div class="admin-item-title">
        <h1 class="fw-light d-inline">Ajouter une ville</h1>
      </div>

      <div class="form-city mt-5">
        {{ form_start(form) }}
            {{ form_row(form.name) }}

            <div class="form-controls">
              <button type="submit" class="btn btn-primary">Valider</button>
              <a href="{{ path('admin_index') }}" type="button" class="btn btn-secondary mx-2">Annuler</a>
            </div>
        {{ form_end(form) }}
      </div>
      
      
      <div style="height: 400px"></div>
      <div>
        {% include "home/footer.html.twig" %}
      </div>
    </div>
  </div>
</div>

{% endblock %}